

.heading-3 {
  text-transform: uppercase;
  
  padding-bottom: 20px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;
}




.item-container  .item-image img:hover {
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
  box-shadow: grey 5px 5px 5px 5px;
}

.item-container .item-image img {
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
  box-shadow: grey 10px 10px 10px 10px;
  border-radius: 10px;
}



.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
 
}

.item-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:maroon;
    font-size: 35px;
    font-weight: 700;
}

.item-price {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(224, 215, 215, 0.712);
    font-size: 20px;
    font-weight: 700;
}



.checkout-container {
 border-radius: 10px;
  margin-left: 0px;
  padding-left:0px;
  background:linear-gradient(#e66465, #9198e5);
  color: white;
  height:400px;
  box-shadow: grey 10px 10px 10px 10px;
}

.checkout-container:hover{
  box-shadow: grey 5px 5px 5px 5px;
}

.input {
  padding: 5px 0;
}

.input label {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 700;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.lab{
    color: whitesmoke;
  font-size:20px;
  font-weight: 700;
}
.input-field {
    color: whitesmoke;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
  
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}
.check{
  margin-top: 15px;
}

.checkout-btn {
  background: linear-gradient(0deg, #019875, #029875);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  margin-top: 15px;

  width:200px;
  padding:5px;
  height:45px;
  border-radius: 8px;

  }
.checkout-btn:hover{
    font-size: 25px;
}
 
@media screen and (max-width: 760px) {

    
       .item-container .item-image
{ 
    
    height:100%;
    width:100%;
   
}
       
       
.item-container .item-image img {
    border-radius:9px;
    object-fit: cover;
    height:100%; 
    width: 100%;
  }
  

  .checkout {
     margin-top:8px;
      height:600px;
      width:auto;
      border-radius: 9px;
    padding-left: 7px;
    background:linear-gradient(#e66465, #9198e5);
      color: white;
      
    }
    
}